In [50]:
import numpy as np
import pandas as pd

In [51]:
d = {"A":[1, 2, np.nan],"B":[5, np.nan, np.nan],"C":[1, 2, 3]}

In [52]:
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [53]:
df = pd.DataFrame(d)

In [54]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [55]:
df.dropna(axis=1, thresh=3) # Exclui as linhas ou colunas que não contém dados completos 'axis=0 Linhas, axis=1 Colunas'. thresh=Pega linhas ou colunas que contenha este número de dados

   C
0  1
1  2
2  3

In [56]:
df.fillna(value="x") # Substitui os valores 'nan' por outra coisa, no exemplo dado foi o 'X'

   A  B  C
0  1  5  1
1  2  x  2
2  x  x  3

In [57]:
df["A"].fillna(value=df["A"].mean()) #Substituiu o valor faltante pela média dos valores da coluna.

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [58]:
df["B"].fillna(value=df["B"].max())

0    5.0
1    5.0
2    5.0
Name: B, dtype: float64

In [59]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [60]:
df.fillna(method="ffill") # Vai preencher os ausentes de métodos com valores anteriores

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3