In [2]:
import pandas as pd
import numpy as np

In [4]:
np.random.seed(101)

In [15]:
df = pd.DataFrame(data=np.random.randn(5, 4), index=["A","B","C","D","E"], columns=["W", "X","Y","Z"])

In [17]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [23]:
df["Y"][1]

-0.7713286047373022

In [25]:
df["Z"]["B"]

0.11047741113032297

In [28]:
df[["W", "Z"]]

          W         Z
A  1.606780 -1.329660
B  0.041460  0.110477
C -0.804652  0.358941
D -1.080471  0.833029
E  0.975720 -0.708954

In [34]:
df["new"] = df["W"] + df["Z"]

In [36]:
df["new"]

A    0.277120
B    0.151937
C   -0.445711
D   -0.247442
E    0.266766
Name: new, dtype: float64

In [38]:
df

          W         X         Y         Z       new
A  1.606780 -1.115710 -1.385379 -1.329660  0.277120
B  0.041460 -0.411055 -0.771329  0.110477  0.151937
C -0.804652  0.253548  0.649148  0.358941 -0.445711
D -1.080471  0.902398  0.161781  0.833029 -0.247442
E  0.975720 -0.388239  0.783316 -0.708954  0.266766

In [53]:
df.drop("new", axis=1, inplace=True)

In [55]:
df

          W         X         Y         Z
A  1.606780 -1.115710 -1.385379 -1.329660
B  0.041460 -0.411055 -0.771329  0.110477
C -0.804652  0.253548  0.649148  0.358941
D -1.080471  0.902398  0.161781  0.833029
E  0.975720 -0.388239  0.783316 -0.708954

In [58]:
df.loc["C"] #O LOC pega os valores de determinado índice

W   -0.804652
X    0.253548
Y    0.649148
Z    0.358941
Name: C, dtype: float64

In [60]:
df.loc["C", "X"]

0.2535480414796537

In [62]:
df.loc[["A", "C", "E"], ["W", "X"]] # Pega com strings

          W         X
A  1.606780 -1.115710
C -0.804652  0.253548
E  0.975720 -0.388239

In [65]:
df.iloc[[2, 3], [2, 3]] #Pega com índices numéricos

          Y         Z
C  0.649148  0.358941
D  0.161781  0.833029

In [68]:
df.iloc[1:3, 1:3]

          X         Y
B -0.411055 -0.771329
C  0.253548  0.649148