In [2]:
import numpy as np
import pandas as pd

In [10]:
# Níveis de índice
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [14]:
hier_index = list(zip(outside, inside))
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [17]:
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [21]:
df = pd.DataFrame(data=np.random.randn(6, 2), index=hier_index, columns=["A", "B"])

In [23]:
df

             A         B
G1 1  0.963666  0.529720
   2 -0.485511 -0.569907
   3 -0.169642  0.871942
G2 1 -1.129554 -1.957970
   2 -0.049516  0.190885
   3 -1.856229 -0.540820

In [43]:
df.loc["G1"].loc[1] # Passa pelo nível externo, depois adentra ao nível interno

A    0.963666
B    0.529720
Name: 1, dtype: float64

In [44]:
df.index.names = ["Grupo", "Números"] # Dá nomes aos indexs

In [46]:
df

                      A         B
Grupo Números
G1    1        0.963666  0.529720
      2       -0.485511 -0.569907
      3       -0.169642  0.871942
G2    1       -1.129554 -1.957970
      2       -0.049516  0.190885
      3       -1.856229 -0.540820

In [49]:
df.xs(1, level="Números") # Já este vai direto ao nível interno, sem passar pelo externo a exemplo do 'df.loc["G1"].loc[1]'

              A        B
Grupo
G1     0.963666  0.52972
G2    -1.129554 -1.95797