In [1]:
import pandas as pd
import numpy as np

In [10]:
# Níveis de índices
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [12]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [13]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
df = pd.DataFrame(np.random.randn(6, 2), hier_index, columns=["A", "B"])

In [18]:
df

             A         B
G1 1  0.416762  0.103220
   2  0.780422 -0.740753
   3 -0.741802  0.622025
G2 1  0.422027  0.903827
   2 -0.147707 -1.701715
   3  1.668651  0.964536

In [22]:
df.loc["G1"]

          A         B
1  0.416762  0.103220
2  0.780422 -0.740753
3 -0.741802  0.622025

In [24]:
df.loc["G1"].loc[1]

A    0.416762
B    0.103220
Name: 1, dtype: float64

In [26]:
df.index.names

FrozenList([None, None])

In [29]:
df.index.names = ["Grupo", "Número"]

In [31]:
df

                     A         B
Grupo Número
G1    1       0.416762  0.103220
      2       0.780422 -0.740753
      3      -0.741802  0.622025
G2    1       0.422027  0.903827
      2      -0.147707 -1.701715
      3       1.668651  0.964536

In [45]:
df.xs("G1")

               A         B
Número
1       0.416762  0.103220
2       0.780422 -0.740753
3      -0.741802  0.622025

In [50]:
df.xs(1, level="Número")

              A         B
Grupo
G1     0.416762  0.103220
G2     0.422027  0.903827

In [63]:
df.loc["G1"].loc[[1, 2]]

               A         B
Número
1       0.416762  0.103220
2       0.780422 -0.740753