In [6]:
import pandas as pd
import numpy as np

In [7]:
np.random.seed(101)

In [72]:
df = pd.DataFrame(data=np.random.randn(5, 4), index="A B C D E".split(), columns="W X Y Z".split())

In [73]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [74]:
df["Y"]

A   -0.162535
B   -0.855196
C   -0.568581
D   -0.391157
E    0.720788
Name: Y, dtype: float64

In [75]:
df["Y"] > 0

A    False
B    False
C    False
D    False
E     True
Name: Y, dtype: bool

In [76]:
type(df["Y"])

pandas.core.series.Series

In [77]:
type(df)

pandas.core.frame.DataFrame

In [78]:
df[["Z", "W"]]

          Z         W
A  0.485809 -1.467514
B  1.541990  0.392489
C  1.407338  0.666319
D  1.028293  0.641806
E -1.223082 -1.972605

In [79]:
df[["Z", "W"]] > 0

       Z      W
A   True  False
B   True   True
C   True   True
D   True   True
E  False  False

In [80]:
df["New"] = df["W"] + df["Y"]

In [81]:
df["New"]

A   -1.630049
B   -0.462707
C    0.097738
D    0.250649
E   -1.251818
Name: New, dtype: float64

In [82]:
df

          W         X         Y         Z       New
A -1.467514 -0.494095 -0.162535  0.485809 -1.630049
B  0.392489  0.221491 -0.855196  1.541990 -0.462707
C  0.666319 -0.538235 -0.568581  1.407338  0.097738
D  0.641806 -0.905100 -0.391157  1.028293  0.250649
E -1.972605 -0.866885  0.720788 -1.223082 -1.251818

In [83]:
df.drop(columns=["New"], inplace=True)

In [84]:
df

          W         X         Y         Z
A -1.467514 -0.494095 -0.162535  0.485809
B  0.392489  0.221491 -0.855196  1.541990
C  0.666319 -0.538235 -0.568581  1.407338
D  0.641806 -0.905100 -0.391157  1.028293
E -1.972605 -0.866885  0.720788 -1.223082

In [85]:
df.loc["A", "Z"]

0.48580873745486103

In [87]:
df.loc["C", "X"]

-0.5382346255173922

In [90]:
df.loc[["A", "E"], ["W", "Y"]]

          W         Y
A -1.467514 -0.162535
E -1.972605  0.720788

In [93]:
df.iloc[1:4, 2:]

          Y         Z
B -0.855196  1.541990
C -0.568581  1.407338
D -0.391157  1.028293