In [2]:
import pandas as pd

In [13]:
# cria um DataFrame
data = {"Empresa": ["GOOG", "GOOG", "MSTF", "MSTF", "FB", "FB",],
       "Nome":["Sam", "Charlie", "Amy", "Vanessa", "Carl", "Sarah"],
       "Venda": [200, 100, 140, 124, 243, 350]}

In [14]:
data

{'Empresa': ['GOOG', 'GOOG', 'MSTF', 'MSTF', 'FB', 'FB'],
 'Nome': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Venda': [200, 100, 140, 124, 243, 350]}

In [30]:
df = pd.DataFrame(data)

In [31]:
df

  Empresa     Nome  Venda
0    GOOG      Sam    200
1    GOOG  Charlie    100
2    MSTF      Amy    140
3    MSTF  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [28]:
group = df.groupby("Empresa")

In [43]:
group

In [35]:
group.sum()

         Venda
Empresa
FB         593
GOOG       300
MSTF       264

In [41]:
grupo = df.groupby("Empresa")["Nome"].size()

In [42]:
grupo

Empresa
FB      2
GOOG    2
MSTF    2
Name: Nome, dtype: int64

In [49]:
grupo_nome = df.groupby("Nome")

In [51]:
grupo_nome.sum().loc["Amy"]

Venda    140
Name: Amy, dtype: int64